 html {
   box-sizing: border-box;
 }

 *, *::before, *::after {
   box-sizing: inherit;
 }

/* Clearfix */

.row::after {
  clear: both;
}

.row::before, .row::after {
  content: '';
  display: table;
}


.row {
  margin: auto;
  max-width: 1000px;
  overflow: auto; /* To fix issue of container div having no height */
  padding: 20px;
}

.row--header {
  padding-top: 0;
  padding-bottom: 0;
}

/* Default: phones/devices under 640px */

.col-4, .col-12 {
  float: left;
  margin: 0;
  padding: 1.041667%; /* 20px gutters, 10px per side per col, 10px/960 (row width
                  * minus 2*20px padding) = 1.041667% */
  width: 100%;
}

.col-4 {
  max-width: 320px; /* Fix uneven cols width with screens between 320 and 640 */
}

.col--header {
  padding-top: 0;
  padding-bottom: 0;
}

/* Bigger phones in landscape, and tablets */

@media only screen and (min-width: 640px) {
  .col-4 {
    width: 33.333333%;
    width: calc(100% / 3);
  }
}
